:root {
    --vermelho: #8C2D18;
    --preto: #262526;
    --bege: #F2E1C2;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}