.cardapio {
    height: 60vh;
    background-color: var(--bege);
    text-align: center;
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .cardapio__titulo {

} */

.cardapio__lista {
    display: flex;
    justify-content: space-around;
}

.cardapio__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.cardapio__item__imagem {
    height: 150px;
    width: 200px;
    box-shadow: 5px 5px 5px var(--vermelho);
    border-radius: 20px;
    margin-bottom: 15px;
}

.cardapio__item__imagem:hover {
    box-shadow: 10px 10px 5px var(--vermelho);
}

.item1 {
    background-image: url(../img/yakissoba.jpg);
    background-size: cover;
}

.item2 {
    background-image: url(../img/frango_xadrex.jpg);
    background-size: cover;
}

.item3 {
    background-image: url(../img/porco.jpg);
    background-size: cover;
}

.item4 {
    background-image: url(../img/primavera.jpg);
    background-size: cover;
}

.cardapio__item__nome {
    font-size: 1.5rem;
    margin: 10px 0px;
}

/* .cardapio__item__descricao {

} */

@media screen and (max-width: 1024px){
    .cardapio {
        height: auto;
    }

    .cardapio__titulo {
        margin-bottom: 20px;
    }

    .cardapio__lista {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardapio__item {
        background-color: rgb(255, 255, 255, 0.4);
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .cardapio__item__descricao {
        margin-bottom: 10px;
    }

    .cardapio__item__imagem {
        box-shadow: 0px 5px 5px var(--vermelho);
    }
    .cardapio__item__imagem:hover {
        box-shadow: 0px 5px 5px var(--vermelho);
    }
}